name: Build Debian Package

on:
  push:
    branches: ["*"]
    tags: ['*[0-9]*.[0-9]*.[0-9]*']

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TARGET_VERSION: "0.3.2"

    outputs:
      DEB_FILENAME: ${{ steps.calc_version.outputs.DEB_FILENAME }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install dpkg and jq
      run: sudo apt-get update && sudo apt-get install -y dpkg jq

    - name: Calculate version
      id: calc_version
      run: |
        VERSION=$(./calculate-version.sh "$TARGET_VERSION")
        DEB_FILENAME=vcpkg-deb_${VERSION}_all.deb
        echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"
        echo "DEB_FILENAME=$DEB_FILENAME" >> "$GITHUB_OUTPUT"
      env:
        GITHUB_REF_TYPE: ${{ github.ref_type }}

    - name: Configure DEBIAN control file
      run: |
        sed -i "s|{{VERSION}}|${{ steps.calc_version.outputs.VERSION }}|g" vcpkg-deb/DEBIAN/control

        echo "Configured control file:"
        cat vcpkg-deb/DEBIAN/control

    - name: Build Debian package
      run: |
        dpkg-deb -Zgzip --build vcpkg-deb
        mv vcpkg-deb.deb ${{ steps.calc_version.outputs.DEB_FILENAME }}

    - name: Upload Debian package artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.calc_version.outputs.DEB_FILENAME }}
        path: ${{ steps.calc_version.outputs.DEB_FILENAME }}

  publish:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    strategy:
      matrix:
        repository: [noble, bullseye, bookworm, trixie]

    steps:
    - name: Download built artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ needs.build.outputs.DEB_FILENAME }}

    - name: Nexus Repo Publish
      run: |
        curl --fail-with-body -sS \
          -u "${{ secrets.NEXUS_USER }}:${{ secrets.NEXUS_PASSWORD }}" \
          -H "Content-Type: multipart/form-data" \
          --data-binary "@./${{ needs.build.outputs.DEB_FILENAME }}" \
          "https://nexus.yobeonline.fr/repository/${{ matrix.repository }}/"
  release:
    needs:
    - build
    - publish
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Download built artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ needs.build.outputs.DEB_FILENAME }}

    - name: Add asset to release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: ${{ needs.build.outputs.DEB_FILENAME }}

