name: Build Debian Package

on:
  push:
    branches: ["*"]
    tags: ['*[0-9]*.[0-9]*.[0-9]*']

jobs:
  build-deb:
    runs-on: ubuntu-latest
    env:
      TARGET_VERSION: "0.3.1"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install dpkg and jq
      run: sudo apt-get update && sudo apt-get install -y dpkg jq

    - name: Calculate version
      id: calc_version
      run: |
        VERSION=$(./calculate-version.sh "$TARGET_VERSION")
        echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"        
      env:
        GITHUB_REF_TYPE: ${{ github.ref_type }}

    - name: Configure DEBIAN control file
      run: |
        sed -i "s|{{VERSION}}|${{ steps.calc_version.outputs.VERSION }}|g" vcpkg-deb/DEBIAN/control

        echo "Configured control file:"
        cat vcpkg-deb/DEBIAN/control

    - name: Build Debian package
      run: |
        dpkg-deb -Zgzip --build vcpkg-deb
        mv vcpkg-deb.deb vcpkg-deb_${{ steps.calc_version.outputs.VERSION }}_all.deb

    - name: Upload Debian package artifact
      uses: actions/upload-artifact@v4
      with:
        name: vcpkg-deb_${{ steps.calc_version.outputs.VERSION }}_all.deb
        path: vcpkg-deb_${{ steps.calc_version.outputs.VERSION }}_all.deb

    - name: Add asset to release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        files: vcpkg-deb_${{ steps.calc_version.outputs.VERSION }}_all.deb

